
@model IEnumerable<Local_Theatre.Models.User>

@{
    ViewBag.Title = "UserRoles";
}

<h2>User Roles</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateRegistered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentRole)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateRegistered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentRole)
        </td>
        <td>
            @Html.ActionLink("Change Role", "ChangeRole", new { id=item.Id })
        </td>
    </tr>
}

</table>
